// ============================================================
// Utility Classes
// ============================================================





// General
// ------------------------------------------------------------

.hidden {
    display: none !important;
}
.full-width {
    width: 100%;
}
.relative {
    position: relative;
}





// Positioning
// ------------------------------------------------------------

// --- Text
.text-centered {
    text-align: center;
}


// --- Flex Justify
.justify-center {
    display: flex;
    justify-content: center;
}
.justify-right {
    display: flex;
    justify-content: flex-end;
}
.justify-left {
    display: flex;
    justify-content: flex-start;
}


// --- Flex Align
.align-center {
    display: flex;
    align-items: center;
}
.align-top {
    display: flex;
    align-items: flex-start;
}
.align-bottom {
    display: flex;
    align-items: flex-end;
}


// --- Grid
.place-center {
    display: grid;
    place-content: center;
}





// Padding
// ------------------------------------------------------------

.no-padding {
    padding: 0;
}
.no-padding-top {
    padding-top: 0;
}
.no-padding-right {
    padding-right: 0;
}
.no-padding-bottom {
    padding-bottom: 0;
}
.no-padding-left {
    padding-left: 0;
}
.no-padding-top-bottom,
.no-padding-bottom-top {
    padding-top: 0;
    padding-bottom: 0;
}
.no-padding-left-right,
.no-padding-right-left {
    padding-left: 0;
    padding-right: 0;
}

.default-padding {
    padding: $default-padding;
}





// Margin
// ------------------------------------------------------------

.no-margin {
    margin: 0;
}
.no-margin-top {
    margin-top: 0;
}
.no-margin-right {
    margin-right: 0;
}
.no-margin-bottom {
    margin-bottom: 0;
}
.no-margin-left {
    margin-left: 0;
}
.no-margin-top-bottom,
.no-margin-bottom-top {
    margin-top: 0;
    margin-bottom: 0;
}
.no-margin-left-right,
.no-margin-right-left {
    margin-left: 0;
    margin-right: 0;
}





// Border
// ------------------------------------------------------------

.no-border {
    border: none;
}
.no-border-top {
    border-top: none;
}
.no-border-right {
    border-right: none;
}
.no-border-bottom {
    border-bottom: none;
}
.no-border-left {
    border-left: none;
}
.no-border-top-bottom,
.no-border-bottom-top {
    border-top: none;
    border-bottom: none;
}
.no-border-left-right,
.no-border-right-left {
    border-left: none;
    border-right: none;
}





// Box Shadow
// ------------------------------------------------------------

.no-box-shadow {
    box-shadow: none;
}





// Typography
// ------------------------------------------------------------


.semibold-light {
    font-weight: $font-weight__semibold--light;
}
.semibold-heavy {
    font-weight: $font-weight__semibold--heavy;
}
.bold {
    font-weight: $font-weight__bold;
}
.italic {
    font-style: italic;
}
.underline {
    text-decoration: underline;
}










//
// Tablet
// ______________________________

@media screen and (max-width: $media__l) {

    .hidden-tablet {
        display: none !important;
    }
    .full-width-tablet {
        width: 100%;
    }
}





//
// Mobile
// ______________________________

@media screen and (max-width: $media__m) {

    .hidden-mobile {
        display: none !important;
    }
    .full-width-mobile {
        width: 100%;
    }
}


