// ============================================================
// Heading
// ============================================================

$color__heading-accent:   $color__brand;



// ------------------------------------------------------------




.heading {
    font-size: 3.4rem;
    text-transform: capitalize;

    &__accent {
        color: $color__heading-accent;
    }
}

