// ============================================================
// Media Object
// ============================================================







// ------------------------------------------------------------


.media {
    display: flex;
    align-items: flex-start;

    &__image {
        display: block;
    }

    &__body {
        flex: 1;
        padding-left: $default-padding;
    }
}


