// ============================================================
// Default Spacings
// ============================================================




$default-padding--smaller: 1.2rem;
$default-padding--small:   2rem;
$default-padding:          3.2rem;




