// ============================================================
// Box Shadow Variables
// ============================================================



$box-shadow--small:     0 0.2rem 0.4rem 0 rgba(0,0,0,0.16);
$box-shadow:            0 0.5rem 0.8rem 0 rgba(0,0,0,0.16);

$box-shadow--circle:    0.5rem 0.5rem 0.5rem 0.5rem #333;