// ============================================================
// Color Variables
// ============================================================


$color__white: #fff;
$color__black: #000;


$color__brand: darkcyan;

$color__text: #333;
$color__link: #555;

