// ============================================================
// Media Breakpoints Variables
// ============================================================




$media__xxs:     320px;
$media__xs:      '';
$media__s:       '';
$media__m:       600px;
$media__l:       992px;
$media__xl:      1200px;

