// ============================================================
// Typography Variables
// ============================================================



$font-family__base: 'Open Sans', sans-serif;
$font-family__primary: sans-serif;
$font-family__secondary: sans-serif;
$font-family__tertiary: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;



$font-weight__lightest:         100;
$font-weight__lighter:          200;
$font-weight__light:            300;
$font-weight__normal:           400;
$font-weight__semibold--light:  500;
$font-weight__semibold--heavy:  600;
$font-weight__bold:             700;
$font-weight__bolder:           800;
$font-weight__boldest:          900;


